.card {
    width: 300px;
    padding: 60px;
    height: 450px;
    float: left;
}

span {
    color: white;
    padding: 10px;
    font-size: 15px;
    font-family: Roboto, Helvetica, Arial, sans-serif;

}

.img {
    display: inline-block;
    width: 300px;
    height: 200px;
    border-radius: 10px;

}

div {
    display: inline;
    padding: 3px;
    margin: 10px;
    margin-top: 30px;
    border-radius: 5px;
    max-height: 100px;
    height: 100%;
    width: 50px;

}

.search-box {
   border: 1px solid lightblue;
    border-radius: 5px;
    width: 30%;
    padding: 5px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
input{
    border-radius: 10px;
}

button {
    display: inline;
    padding: 10px;
    background-color: #a61e4d;
    color: #efefef;
    border: none;
    text-align: center;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 5px;
}